0_setup/fa
1_processing/bam/*
1_processing/bw/*
1_processing/fastq/*
1_processing/indexes/*
1_processing/peaks/*
1_processing/rdata/*
2_analysis/bam/*
2_analysis/bed/bpreveal/*
2_analysis/bed/*
2_analysis/bw/*
2_analysis/idr/*
2_analysis/input/*
2_analysis/json/*
2_analysis/macs2/*
2_analysis/memesuite/*
2_analysis/misc
2_analysis/models/*
2_analysis/modiscolite/*
2_analysis/narrowpeak/*
2_analysis/npz/*
2_analysis/pisa
2_analysis/preds/*
2_analysis/rdata/*
2_analysis/shap/*
2_analysis/tsv/*
2_analysis/.RData
